*.pyc
*.o
*.so
experiment/other_code/FD/node_modules
package-lock.json
package.json
# node_modules/
error_log.csv

*.vscode
*.png
*.pdf
*.graphml
*.json
*.ees
*.es
*.trl
*.a
*.cu
*.tiff
.xml
.zip
output/*
cubu/CUBu/DATA/

__pycache__/